
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
  }

  body{
    padding:30px;
    background-color:rgb(200, 199, 199);
  }

/*MENU NAV */

  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  }

nav > .welcome{
    font-size: 30px;
}

nav>.logo{
    width:80px;
    height:80px;
}


nav .login_input{
    width:80px;
    height:20px;
    line-height: 20;
    border-radius: 5px;
    border:1px solid #0000008c;
    padding:0px 10;
    text-align: center;
}

nav .login_input:hover{
  outline: none;
}

nav .btn_login{
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}


/*APP */


.app{
    max-width:1200px;
    height:900px;
    margin:100px auto;
    display:grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;

     /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

/*BALANCE*/

.balance{
    grid-column: 1/3;
    display:flex;
    justify-content:space-between
}


.balance .balance_text{
    font-size: 30px;
}

.balance .balance_value{
    font-size:30px
}

/*MOVEMENTS*/

.movements{
    grid-row:2/5;
    background-color:white;
    overflow: scroll;
}

.movements > .movements_row{
    border:1px solid rgb(175, 174, 174);
    display:flex;
    height:80px;
    align-items: center;
}

.movements .movements_type{
    border-radius: 40px;
    height:20px;
    line-height: 20px;
    text-transform:uppercase;
    padding:10px;
    margin:0 10px;
}

.movements .movements_type--deposit{
  background-color:green;
}

.movements .movements_type--withdrawal{
  background-color:red;
}


.movements .movements_date{
    margin:0 10px;
}

.movements .movements_value{
    margin-left:auto;
    padding:20px;
}

/*<!-- Operations -->

<!-- Transfer -->*/

.operation p{
    margin:30px;
    
    font-size:30px;
}

.operation > .form{
    display:grid;
    max-width:300px;
    margin:30px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap:5px 5px;
}

.form.form_loan {
    grid-template-columns: 2fr 1fr 2fr;
  }
  .form__label_loan {
    grid-row: 2;
  }

.operation .form_input{
    width:100px;
    height:20px;
    text-align:center;
    border:0;
    border-radius:10px;
}

.operation .form_input:hover{
  outline:none;
}

.operation .btn_operations{
    cursor: pointer;
    height:20px;
    border:0;
    border-radius:10px;
}

.operation_transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
    border-radius: 10px;
  }
  
  .operation_loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    border-radius: 10px;
  }
  
  .operation_close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    border-radius: 10px;
  }


  /*SUMMARY*/

  .summary{
    display:flex;
  }

  .summary .summary__value{
    margin:0px 20px;
  }

  .summary .summary__value--in{
    color:green;
    
  }

  .summary .summary__value--out{
    color:red;
   
  }
  .summary .summary__value--interest{
    color:green;
    
  }

  